.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar input {
  padding: 0.5rem;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

.search-bar .search-btn {
  background-color: #fcb72b;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

.search-btn > img {
  width: 30px;
}
